[Desktop Entry]
Version=1.0
Name=Stork design dialog
Name[be]=Выгляд 
Name[en_AU]=Stork design
Comment[be]=Змяніць выгляд працоўнага асяроддзя і праграмм
Name[ru]=Общий дизайн темы
Name[uk]=Зовнішній вигляд
Comment=Stork design dialog Custom theme
Comment[en_AU]=Stork design dialog Custom theme
Comment[be]=Налады стала
Comment[ru]=Настройки темы рабочего стола пользователя
Comment[uk]=Налаштування зовнішній вигляд для тем стільниці
Comment[bg]=Настройка плот
Comment[pl]=Dostosowuje wygląd środowiska graficznego i aplikacji
Comment[sl]=Prilagodite videz in občutek namizja
Comment[sr]=Прилагодите изглед радне површи и програма
Keywords=windows;preferences;settings;theme;style;appearance;
Keywords[pl]=okna;preferencje;ustawienia;motyw;styl;wygląd;
Keywords[uk]=вікна;налаштування;тема;стиль;вигляд;
Keywords[ru]=окна;предпочтения;настройки;установки;тема;стиль;оформление;вид;
Exec=/usr/share/stork-design/xfce-interface-xsettings
Path=/usr/share/stork-design/
Icon=stork-design-xubuntu
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpPage=stork;dizayn;Custom desktop;
NotShowIn=GNOME;KDE;MATE;LXDE;
